

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <button mat-raised-button routerLink="home" color="primary">Home</button>
    <button mat-raised-button routerLink="Login" color="primary">Login</button>
    <button mat-raised-button routerLink="Add" color="primary">Add Product</button>
  </div>
</section>
  </mat-toolbar>
</p>

