<div class="parent">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Product ID</mat-label>
      <input matInput placeholder="Product ID">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput placeholder="Product Name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Product Quantity</mat-label>
      <input matInput placeholder="Product Quantity">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Product Price</mat-label>
      <input matInput placeholder="Product Price">
    </mat-form-field>
  </p>
  <section>
    <div class="example-button-row">
      <button mat-stroked-button color="primary" mat-button aria-label="Example icon button with a open in new tab icon">Submit</button>
    </div>
  </section>
</div>



