



<mat-grid-list cols="2" rowHeight="2:1">
  <!--Card Starts-->
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{products?.[0].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[0].id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{products?.[0].description}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Card Ends-->

  <!--Card Starts-->
  <mat-grid-tile >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{products?.[1].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[1].id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{products?.[1].description}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Card Ends-->

  <!--Card Starts-->
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{products?.[2].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[2].id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{products?.[2].description}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Card Ends-->

  <!--Card Starts-->
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{products?.[3].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[3].id}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{products?.[3].description}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Card Ends-->

</mat-grid-list>
